.App {
  text-align: center;
  width: 320px;
  height: fit-content;
  overflow: hidden;
  padding: 2px;

  /* border: 1px solid red; */
}

.header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 16px;
  padding: 4px 8px;
  font-size: 1rem;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.between {
  justify-content: space-between;
}

label {
  font-size: 1rem;
}

.flex-1 {
  flex-basis: 1;
}

.fullW {
  width: 100%;
}

.p90W {
  width: 90%;
}

.p80W {
  width: 80%;
}

.p60W {
  width: 60%;
}

input {
  scale: 1.25;
  padding: 4px 8px;
}

.error {
  outline-color: red;
  border: 1px outset red;
}

.gap {
  gap: 0.7rem;
}

.border {
  border: 1px solid red;
}

.s16q {
  height: 16px;
  width: 16px;
}

.s16q2 {
  height: 32px;
  width: 32px;
}

.ml {
  margin-left: 8px;
}

.mr {
  margin-right: 8px;
}